.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit, .special {
  margin: 2em;
}

.show-wrapper {
  display: flex;
  flex-direction: row;
}

.show {
  flex-basis: 50%;
  margin: 2em;
}
